
  <h1>Delete Donation</h1>

  <p><strong>Donor name:</strong> <%= @donation.donor_name %></p>
  <p><strong>Amount:</strong> <%= @donation.amount %></p>

  <%= form_for(@donation, method: :delete) do |f| %>
    <p>Are you sure?</p>
      <%= f.submit("Delete") %>
  <% end %>
